{% extends '::base.html.twig' %}


{% block body %}

    <h1>Bienvenido</h1>
    <div style="margin-top: 50px;">
        <a class="btn btn-success btn-md" href="{{ path('app_posts_lista') }}" role="button">Lista de posts</a>
    </div>
{% endblock %}